<form action="/parents" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a new parent:</p>
  <label for="fname">First name:</label><br>
  <input type="text" name="first_name" id="fname"/><br/>
  <label for="lname">Last name:</label><br>
  <input type="text" name="last_name" id="lname"/><br/>
  <label for="mname">Maiden name:</label><br>
  <input type="text" name="maiden_name" id="mname"/><br/>
  <label for="bdate">Birthday:</label><br>
  <input type="date" name="birthday" id="bdate"/><br/>
  <p>Allergies?</p>
  <input type="radio" name="allergies" value="yes" id="yes">
  <label for="yes">Yes</label><br>
  <input type="radio" name="allergies" value="no" id="no">
  <label for="no">No</label><br>
  <label for="loc">Location:</label><br>
  <input type="text" name="location" id="loc"/><br/>
  <label for="phone">Phone number:</label><br>
  <input type="number" name="phone_number" id="phone"/><br/>
  <label for="missionloc">Mission location:</label><br>
  <input type="text" name="mission_location" id=""/><br/>
  <label for="countries">Countries visited:</label><br>
  <input type="number" name="countries_visited" id="countries"/><br/>
  <label for="lang">Languages:</label><br>
  <input type="number" name="languages" id="lang"/><br/>
  <p>Married?</p>
  <input type="radio" name="allergies" value="yes" id="yes">
  <label for="yes">Yes</label><br>
  <input type="radio" name="allergies" value="no" id="no">
  <label for="no">No</label><br>
  <p>Grandchildren?</p>
  <input type="radio" name="allergies" value="yes" id="yes">
  <label for="yes">Yes</label><br>
  <input type="radio" name="allergies" value="no" id="no">
  <label for="no">No</label><br>
</form>